
# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# DS_store
.DS_Store

# raw image directories
public/img/* raw

#for psds and other scratch files that don't need versioning
other