/* reminder!! css padding margin lists are: top right bottom left */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  /*background-image: url('../img/aframes_lg.jpg');*/
  background-size: auto;
  height: 100%;
  background-color: #333;
  font-size: 16px;
  font-family: 'Roboto', 'Helvetica Neue','Helvetica',sans-serif;
}

/* override bootstrap */
.carousel-control{
  top: 0;
  bottom: 25%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  margin-right: auto;
  margin-left: auto;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
}

.tn {
  width: 90px;
  height: 90px;
  cursor: pointer;
  border: 5px solid rgba(0,0,0,1);
}
.thumbnum{
  font-weight: bold;
  vertical-align: bottom;
  display: block;
  margin-top: -20px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  color: rgb(232, 220, 141);
}
#thumbs {
  position: relative;
  top: -40px;
}

.on {
  opacity: 1;
}
.off {
  opacity: 0.5;
}

.projpage {
  background-color: rgba(255,255,255,0.2);
  padding: 5px 0 5px 0;
  border: 5px solid rgba(0,0,0,0.3);
  min-height: 60px;
  cursor: pointer;
  font-family: 'Coda', 'Helvetica Neue','Helvetica',sans-serif;
}
/*paged same as page, but named differently for exclusion from click functions. yes, kludge:*/
.paged {
  background-color: rgba(255,255,255,0.2);
  padding: 5px 0 5px 0;
  border: 5px solid rgba(0,0,0,0.3);
  max-width: 200px;
  cursor: pointer;
}
.detail {
  /*background-color: rgba(0,0,0,0.5);*/
  /*border: 5px solid rgba(255,255,255,0.3);*/
  max-width: 200px;
  width: 12%;
  float: left;
}

.thumb {
  width: 15%;
}

.proj {
  width: 12%;
  float: left;
}
.project {
  background-color: rgba(0,0,0,0.5);
}
.mainimg {
  border: 16px solid rgba(0,0,0,0.5);
}

#projectText{
  position: static;
  top: 100px;
  z-index: 10;
}
#toolsText{
  position: absolute;
  font-family: monospace;
  z-index: 10;
  padding-right: 20px;
  background-color: rgba(0,0,0,0.75);
}
.description {
/* 
  position: absolute;  
 */
  top: 10px; 
  padding: 5px 5px 10px 15px;
  text-align: left;
  background-color: rgba(0,0,0,0.0);
  font-size: 16px;
  font-weight: 300;
  /*line-height: 28px;*/
}
.darken {
  background-color: rgba(0,0,0,0.75);
}
.details {
  position:relative;
  top: -80px;
}
.title {
  /*bottom: -10px; */
  /*right: -10px;*/
  padding: 1px 8px 1px 1px;
  text-align: left;
  font-size: 24px;
  /*font-weight:bold;*/
  border: 0.16px solid rgba(255,255,255,0.5);
  font-weight: 600;
  font-family: 'Coda', 'Helvetica Neue','Helvetica',sans-serif;
}
.descriptitle{
  background-color: rgba(0,0,0,1);
  /*padding: 3px;*/
  display: inline-block;
}
.intro {
  background-color: rgba(0,0,0,0.5);
  font-size: 18px;
  font-style: italic; 
  /*display: block;*/
  /*padding: 5px;*/
  /*color: rgb(232, 220, 141);*/
}
#descripmore{
  color: rgb(255,250,210);
}
.padleft {
  padding-left: 15px;
}
.section {
  margin-top: 5px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0;
  /*max-width: 900px;*/
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .site-wrapper {
    min-width: 480px;
  }
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    /*position: fixed;
    bottom: 0;*/
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle;*/
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .description {
    max-width: 480px;
  }
  .project {
    width: 480px;
  }
  .mainimg {
    width: 480px;
  }
  
  #projectText{
    position: static;
  }
  #toolsText{
    position: absolute;
  }

  
}

/* Landscape 
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
*/

@media (min-width: 768px) {
  .site-wrapper {
    min-width: 720px;
  }
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    /*position: fixed;
    bottom: 0;*/
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle;*/
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .description {
    max-width: 720px;
  }
  .project {
    width: 720px;
  }
  .mainimg {
    width: 720px;
  }
  
  #projectText{
    position: static;
  }
  #toolsText{
    position: absolute;
  }

}

@media (min-width: 992px) {
  .site-wrapper {
    /*min-width: 920px;*/
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90%;
  }
  .description {
    max-width: 900px;
  }
  .project {
    width: 900px;
  }
  .mainimg {
    width: 900px;
  }
  
  #projectText{
    position: static;
    top: 100px;
  }
  #toolsText{
    position: absolute;
  }

}
  